
@{
    ViewBag.Title = "Example";
}

<h2>Example</h2>

<div class="row">
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
    <div class="col-sm">col-sm</div>
</div>
<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>

</div>

   
<div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-5">
            2 of 3 (wider)
        </div>
        <div class="col">
            3 of 3
        </div>
</div>
<div class="row">
        <div class="col-md">
            1 of 3
        </div>
       <div class="col-md-5 offset-md-5">
            3 of 3
        </div>
 </div> 